<h1>Contact Us</h1>

<form action="/contact" method="post" id="contactForm">
  <div class="form-control">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" />
  </div>
  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="text" name="email" />
  </div>
  <div class="form-control">
    <label for="subject">Subject</label>
    <input id="subject" type="text" name="subject" />
  </div>
  <div class="form-control">
    <label for="message">Message</label>
    <input id="message" type="text" name="message" />
  </div>

  <input type="submit" value="Submit" />
</form>